ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.navbar li {
  float: right;
}

.navbar-link {
  color: white;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.navbar-link:hover {
  background-color: #111111;
}

.home-title {
  font-family : "Trebuchet MS", Helvetica, sans-serif;
  color : #D48158;
  font-size: 80px;
  text-align: center;
}

table, td, tr {
  padding: 10px;
}

td {
  vertical-align: top;
}

blockquote p {
  background : none repeat scroll 0 0 rgba(255, 255, 255, 0.5); 
  box-shadow : 0 -6px 0 rgba(235, 150, 108, 0.2); 
  color : rgba(235, 150, 108, 0.8); 
  display : inline; 
  font-family : Baskerville, Georgia, serif; 
  font-style : italic; 
  font-size : 28px; 
  line-height : 46px; 
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.5);
}

p.author {
  color : #D48158; 
  font-size : 18px; 
  font-weight : bold; 
  padding-top : 10px; 
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.1); 
  text-transform : uppercase;
  box-shadow: none;
}

table.centered-table-mid {
  width: 50%;
  margin: auto;
}

table.centered-table-mid img {
  width: 200px;
  height: 200px;
}

.capital-letter {
  color : #048158; 
  font-size : 30px; 
  font-weight : bold; 
  padding-right : 2px; 
  text-shadow : 0 1px 1px rgba(255, 255, 255, 0.1);
}